.recipe-screen {
  display: flex;
  flex-direction: column;
  position: relative;
}

.recipes-page {
  padding: 0 20px 20px 20px;
  max-height: 720px;
  overflow-y: scroll;
}

.search-bar {
  position: sticky;
  top: 0;
  padding: 20px 20px 10px 20px;
  z-index: 1;
  background-color: transparent;

  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 25px;
    font-size: 16px;
    box-sizing: border-box;
  }
}

.recipes-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 75px;
}

.recipe-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

.recipe-info {
  padding: 15px;

  h3 {
    margin: 0 0 8px 0;
    font-size: 18px;
  }
}

.cook-time {
  color: #666;
  font-size: 14px;
  margin: 0 0 12px 0;
}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.ingredient-tag {
  background: #f0f0f0;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  color: #666;
}

.active-filters {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;

    p {
        margin: 0;
        font-size: 14px;
        color: #666;
    }
}

.filter-tag {
    background-color: #4CAF50;
    color: white;
    padding: 4px 16px 4px 4px;
    border-radius: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: all 0.2s ease;

    .remove-filter {
        background-color: #7ad67d;
        border: none;
        color: white;
        font-size: 18px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        transition: all 0.2s ease;

        &:hover {
        background-color: #9ce59d;
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.95);
        }
    }

    .filter-name {
        padding: 0 4px;
    }
}

.ingredient-tag {
    &.matched {
        background-color: #93d195;
        color: white;
    }
}

.no-results {
    text-align: center;
    color: #666;
    padding: 40px;
}